.card {
  background-color: #F9F9F9;
  border: 1px solid #F2F2F2;
  box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
	width: 315px;
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 30px;
	gap: 25px;

}

.card-photo {
	background-image: url(./assets/images/photo.png);
	width: 275px;
	height: 227px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #FFFFFF;
	border-radius: 10%;
}

.name {
	color: #333333;
	font-weight: 600;
  font-size: 24px;
  line-height: 130%;
	text-transform: uppercase;
	margin: 0px;
}

.type-product {
	margin: 0px;
	font-weight: 400;
  font-size: 16px;
  line-height: 130%;
	color: #828282;
}

.price {
	margin: 0px;
	font-weight: 700;
  font-size: 22px;
  line-height: 27px;
	color: #333333;
}

.button {
  padding: 12px 32px;
	border: 1px solid rgba(5, 175, 52, 0.53);
  border-radius: 10px; 
	background-color: #3FCF5E;
	font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
	margin-top: 29px;
}

.button-image {
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-basket {
	margin-top: 29px;
	margin-left: 68px;
}

.radio {
	border: 1px solid transparent;
  border-radius: 5px;
	color: #4F4F4F;
	font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.radio-active {
	border: 1px solid #3ECF5E;
  border-radius: 5px;
	background-color:  #FFFFFF;
	padding: 4px 12px;
}
