.nav a:last-child {
  margin-right: 0px;
}

.nav-links a:first-child::after {
  content: url(./assets/images/arrow2.png);width: 15px;height: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  margin-left: 4px;
}

.phone a:first-child::before{
  content: url(./assets/images/phone.png);width: 24px;height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.content-links a:nth-child(n+2)::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #BDBDBD;
  margin-right: 15px;
  margin-left: 15px;
  display: block;
}

.back a::before {
  content: url(./assets/images/greenarrow.png);
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 4px;
}

.first-image a:first-child {
  margin-right: 10px;
}

input[type="radio"]:checked + label{
	border: 1px solid #3ECF5E;
  border-radius: 5px;
	background-color:  #FFFFFF;
	padding: 4px 12px;
}

.pages a:last-child {
  margin-right: 0px;
}

.pages a:first-child::before {
  content: url(./assets/images/Arrowleft.png);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 25px;
}

.pages a:last-child::after {
  content: url(./assets/images/Arrowrihgt2.png);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 25px;
}

.pages a:active {
  color: #219653;
}