.nav a:last-child {
  margin-right: 0px;
}

.nav-links a:first-child::after {
  content: url(./assets/images/arrow2.png);width: 15px;height: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  margin-left: 4px;
}

.phone a:first-child::before{
  content: url(./assets/images/phone.png);width: 24px;height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.content-links a:nth-child(n+2)::before{
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #BDBDBD;
  margin-right: 15px;
  margin-left: 15px;
}

.back a::before {
  content: url(./assets/images/greenarrow.png);
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 4px;
}

form button::after {
  content: '';
  background-image: url(./assets/images/buy2.png);
  background-size: cover;
  width: 46px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
}