@import url(./skafolding.css);
@import url(./normalize.css);
@import url(./assets/fonts/fonts.css);
@import url(./elements.css);
@import url(./cards.css);

.nav-links a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  text-decoration: none;
  margin-right: 40px;
}

.phone a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.search {
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  background-color:  #F2F2F2;
  width: 345px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 20px;
  color: #828282;
  background-image: url(./assets/images/Search.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 290px
}

.content-links a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.back a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}

.pages a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #828282;
  margin-right: 20px;
  text-align: center;
}

.contacts-link a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.contacts-link a:first-child {
  margin-right: 47px;
}

.icons a:first-child {
  margin-right: 20px;
}

.contacts-phone a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contacts-phone a:first-child::before{
  content: url(./assets/images/whphone.png);width: 24px;height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}