@import url(./skafolding.css);
@import url(./normalize.css);
@import url(./assets/fonts/fonts.css);

.phone {
  display: flex;
  align-items: center;
}

.phone-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  margin-right: 60px;
  margin-left: 12px;
}

.link a {
  margin-right: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #4F4F4F;
}

.link :last-child{
  margin-right: 0px;
}

.link :first-child {
  margin-right: 4px;
}

.front::after {
  content: '';
}

.arrow-1 {
  margin-right: 40px;
}