@import url(./skafolding.css);
@import url(./normalize.css);
@import url(./assets/fonts/fonts.css);
@import url(./elements.css);

.phone {
  display: flex;
  align-items: center;
}

.phone-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  margin-right: 60px;
  margin-left: 12px;
}

.link a{
  margin-right: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #4F4F4F;
  display: inline-block
}

.search {
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  width: 345px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.type a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
  text-decoration: none;
  margin-right: 15px;
}